





body{
	background-color: #E8E3D8;
	width: 100%;
	min-height: 100%;
	margin: 0;
}

PRE{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
}

h2{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1em;
	font-weight: 400;
	display:inline

}

h3{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	border-style: solid;
	border-color: white;
	border-bottom-color: #CCB66C;
	display: inline;


}

strong {
    font-weight: 700;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 400;
}


a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: 400;
	color: black;
}

cus.inactive{
	position: absolute;
	color:black;
	background-color: #CCB66C;
	border-radius: 20px;
	height: 28px;
	width: 28px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-align: center;
	background: white;
  font-size: 0.75em;
  line-height: 2.25em;
  display: block;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  cursor: pointer;
	box-shadow: 0px 0px 10px rgba(204, 182, 108, 1);
}

cus.active{
	position: absolute;
	color:white;
	background: #CCB66C;
	border-radius: 20px;
	height: 28px;
	width: 28px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-align: center;
  font-size: 0.75em;
  line-height: 2.25em;
  display: block;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  cursor: pointer;
	box-shadow: 0px 0px 10px rgba(204, 182, 108, 1);
}

.terms-container{
	padding-left: 30px;
	padding-right: 20px;
}

.wrapper {
	display: grid;
}

.content {
	display: grid;
	padding-top: 120px;
	background: #fff;
	min-height: calc(100vh - 365px);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
}

.upper-content{
	padding-top: 9px;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-rows: 1fr;
}

.upper-content a{
	font-size: 0;
}

.upper-content-logo{
	grid-row: 1 / span 2;
	display: grid;
	box-shadow: -6px 0 white, 7px -4px 0 4px white, 0px 0px 20px rgba(204, 182, 108, 1);
}


@media (max-width: 1207px)  {
	/* Nav bar resizing */
	.upper-content-logo{
		grid-row: 1;
	}
	.navbar {
		grid-column: 1/ span 2;
	}
}

/* reduce padding on scale down */

.social-media {
	align-self: start;
	justify-self: end;
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	padding: 0px 40px 0px 0px;
	grid-gap: 8px;
}

.social-media a{

}

.social-media a img{
	width: 32px;
	height: auto;

}

ul, menu, dir {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.navbar {
	justify-self: stretch;
	display: grid;
	text-align: center;
	grid-template-columns: repeat(7, 1fr);

}


.navbar a{
	align-self: center;
	white-space: nowrap;
	padding: 0.3em 1em 0.3em 1em;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 10px rgba(204, 182, 108, 1);
	border-color: #CCB66C;
	font-size: 1em;

}


.navbar a:hover{
	background: #CCB66C;
	color: white;

}






.header {
	display: inline;
}

.headerimg{
	display: inline;
}

.headertxt{
	display: inherit;
}

.padding {
	padding-top: 186px;
}

.padding2 {
	padding-top: 200px;
}

.slider {
	margin-top: 100px;
	border-width: 0px 0px 0px 0px;
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
}

.text-container {
	padding-top: 50px;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0px auto;
}

.title-container {
	display: grid;
	justify-self: start;
	padding-left: 150px;
}

@media (max-width: 700px) {
	.title-container {
		padding-left: 20px;
		padding-top: 20px;
	}
	h3{
		font-size: 1.6em;
	}

}

.customcontainer {
	display: block;
}

.tf-pannel {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 15px;
}


.tf-product {
	vertical-align:top;
	display: inline-block;
	padding-top: 20px;
	height: 400px;
	width: 450px;
}

.cus-t-product {
	vertical-align:top;
	display: inline-block;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 20px;
	width: 500px;
}

/* cute baby */

.ar-container {
	max-width: 1180px;
	padding: 0 20px 0 20px;
	padding-top: 130px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 100px;
	grid-column-gap: 80px;
	justify-self: center;
}

@media (max-width: 1207px)  {
	.ar-container {
	grid-template-columns: 1fr;
	max-width: 700px;
	}

}

.ar-product{
 display: grid;
 grid-template-columns: 40% 60%;
}

.info-pannel {
	margin: 0px 0px 0px 20px;
	border-width: 1px;
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
	border-color: #CCB66C;
	border-style: solid;
	padding: 15px 10px 0 10px;
}

@media (max-width: 700px)  {
	.ar-product{
		grid-template-columns: 1fr;
		padding: 0 10px 0 10px;
		grid-row-gap: 20px;
	}
	.ar-imgs-container{
	max-width: 200px;
	justify-self: center;
	}

	.info-pannel{
		margin: 0;
  justify-self: center
	}
}


.ar-imgs-container{
	display: grid;
}

.ar-img {


}

.ar-img a img {
	object-fit: cover;
	width: 100%;
	align-self: center;

}

.arc-pannel {
	height: 800px;
	padding-top: 30px;
}

.arc-product {
	vertical-align:top;
	display: inline-block;
	padding-top: 0px;
	padding-left: 80px;
	padding-right: 80px;
	height: 600px;
	width: 380px;
}

.thumb-imgs-container{
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
	border-color: #CCB66C;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.thumb {


}

.thumb a {
	font-size: 0;
}

.thumb img{
	object-fit: cover;
	max-width: 100%;
	border-color: #CCB66C;
	border-style: solid;
	border-width: 1px;
}



.cus-info-pannel {
	display: inline-block;
	margin: 20px 30px 30px 30px;
	width: 300px;
	border-width: 1px;
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
	border-color: #CCB66C;
	border-style: solid;
	padding-left: 10px;
	padding-bottom: 45px;
	padding-top: 15px;
	padding-right: 10px;
}

.info-pannel p{
	font-weight: 400;
	font-size: 0.65em;
	padding-top: 10px;
}

.Mpannel p{
	font-weight: 400;
	padding-left: 20px;
	border-style: solid;
	border-color: white;
	font-size: 0.750em;
	padding-top: 10px;
	border-style: solid;
	border-color: white;
	border-left-color: #CCB66C;
}

.Mpannel{
	margin-top: 100px;
	margin-left: 17px;
	padding-left: 20px;
	height: 306px;
	width: 900px;
	border-width: 1px;
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
	border-color: #CCB66C;
	border-style: solid;
}

.Mpannel-right{
	float: right;
	height: 700px;
	width: 400px;
}

.Mpannel-left{
	float: left;
	padding-top: 30px;
	height: 300px;
	width: 470px;
}

 .Modal{
	 display: inline-block;
	 padding-top: 10px;

 }









.footer{
	background: white;
	height: 65px;
	border-width: 0px 0px 0px 0px;
	box-shadow: 0px 0px 20px rgba(204, 182, 108, 1);
}

.footer-content {
	height: 10px;
	padding: 0px;
	padding-left: 5px;
	max-width: 960px;

}

.footer-content a{
	display: grid;
	font-weight: 400;
	font-size: 0.656em;
	border-right: 0.6px solid black;
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
}


section#interactive_slider {
	position: relative;
}

section#interactive_slider2 {
	position: relative;
}


nav#interactive  {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
}
    nav#interactive a   {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }
    nav#interactive a span  {
				background: white;
        font-size: 0.75em;
        line-height: 2.25em;
        color: black;
        text-align: center;
        display: block;
        width: 28px;
        height: 28px;
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
				box-shadow: 0px 0px 10px rgba(204, 182, 108, 1);
        position: absolute;
        cursor: pointer;


    }

nav#interactive a#s-1    {
		border-left: 1px solid #CCB66C;
		height: 60px;
		margin: 0px 560px 0px 0px;
}
nav#interactive a#s-1 span  {
		margin: 0px 0px 0px -14px;
}
nav#interactive a#s-2    {
		border-left: 1px solid #CCB66C;
		height: 55px;
		margin: 0px 490px 0px 0px;
}
nav#interactive a#s-2 span  {
		margin: 0px 0px 0px -14px;
}
nav#interactive a#s-3    {
		border-left: 1px solid #CCB66C;
		height: 50px;
		margin: 0px 410px 0px 0px;
}
nav#interactive a#s-3 span  {
		margin: 0px 0px 0px -14px;
}
nav#interactive a#s-4    {
		border-left: 1px solid #CCB66C;
		height: 50px;
		margin: 0px 330px 0px 0px;
}
nav#interactive a#s-4 span  {
		margin: 0px 0px 0px -14px;
}
nav#interactive a#s-5    {
		border-left: 1px solid #CCB66C;
		height: 64px;
		margin: 0px 250px 0px 0px;
}
nav#interactive a#s-5 span  {
		margin: 0px 0px 0px -14px;
}
nav#interactive a#s-6    {
		border-left: 1px solid #CCB66C;
		height: 78px;
		margin: 0px 180px 0px 0px;
}
nav#interactive a#s-6 span  {
		margin: 0px 0px 0px -14px;
}
nav#interactive a#s-7    {
		border-left: 1px solid #CCB66C;
		height: 38px;
		margin: 110px 560px 0px 0px;
}
nav#interactive a#s-7 span  {
		margin: 38px 0px 0px -14px;
}
nav#interactive a#s-8    {
		border-left: 1px solid #CCB66C;
		height: 130px;
		margin: 225px 425px 0px 0px;
}
nav#interactive a#s-8 span  {
		margin: 130px 0px 0px -14px;
}
nav#interactive a#s-9    {
		border-left: 1px solid #CCB66C;
		height: 70px;
		margin: 275px 300px 0px 0px;
}
nav#interactive a#s-9 span   {
		margin: 70px 0px 0px -14px;
}
nav#interactive a#s-10   {
		border-top: 1px solid #CCB66C;
		width: 56px;
		margin: 255px 56px 0px 0px;
}
nav#interactive a#s-10 span {
		margin: -14px 0px 0px 40px;
}

nav#interactive a.inactive  {
		border-color: #dbdadc;
		cursor: pointer;
}
nav#interactive a.inactive span {
		background: #dadcdc;
		color: #D51820;
		cursor: pointer;
}


nav#interactive a.active    {
		background: #CCB66C; !important;
}
nav#interactive a.active span   {
		background: #CCB66C;
		color: #ffffff;
}


nav#interactive2  {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
}
    nav#interactive2 a   {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }
    nav#interactive2 a span  {
				background: white;
        font-size: 0.75em;
        line-height: 2.25em;
        color: black;
        text-align: center;
        display: inline-block;
        width: 28px;
        height: 28px;
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
				box-shadow: 0px 0px 10px rgba(204, 182, 108, 1);
        position: absolute;
        cursor: pointer;


}


nav#interactive2 a#s-1    {
		border-bottom: 1px solid #CCB66C;
		width: 50px;
		margin: 50px 185px 0px 0px;
}
nav#interactive2 a#s-1 span  {
		margin: -14px 0px 0px 40px;
}
nav#interactive2 a#s-2    {
		border-bottom: 1px solid #CCB66C;
		width: 40px;
		margin: 100px 495px 0px 0px;
}
nav#interactive2 a#s-2 span  {
		margin: -14px 0px 0px -30px;
}
nav#interactive2 a#s-3    {
		border-bottom: 1px solid #CCB66C;
		width: 75px;
		margin: 170px 460px 0px 0px;
}
nav#interactive2 a#s-3 span  {
		margin: -14px 0px 0px -30px;
}
nav#interactive2 a#s-4    {
		border-bottom: 1px solid #CCB66C;
		width: 50px;
		margin: 200px 185px 0px 0px;
}
nav#interactive2 a#s-4 span  {
		margin: -14px 0px 0px 40px;
}
nav#interactive2 a#s-5    {
		border-bottom: 1px solid #CCB66C;
		width: 55px;
		margin: 270px 185px 0px 0px;
}
nav#interactive2 a#s-5 span  {
		margin: -14px 0px 0px 45px;
}
nav#interactive2 a#s-6    {
		border-bottom: 1px solid #CCB66C;
		width: 17px;
		margin: 320px 514px 0px 0px;
}
nav#interactive2 a#s-6 span  {
		margin: -14px 0px 0px -30px;
}

nav#interactive2 a.inactive  {
		border-color: #dbdadc;
		cursor: pointer;
}
nav#interactive2 a.inactive span {
		background: #dadcdc;
		color: #D51820;
		cursor: pointer;
}


nav#interactive2 a.active    {
		background: #CCB66C; !important;
}
nav#interactive2 a.active span   {
		background: #CCB66C;
		color: #ffffff;
}
